@charset "UTF-8";


@font-face {
    font-family: "Bebas Neue";
    src: url(fontes/BebasNeue-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: "android";
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
}


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor00: #abaaf8;
    --cor01: #01004d;
    --cor02: #1f1d9e;
    --cor03: #4F4F5C;
    --cor04: #5F5DB1;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --font-android: "android", sans-serif;

    
}

body {
    background-color: #abaaf8;
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: "\1F517";
}


header {
    background-image: linear-gradient(to bottom, #030150, #222099, #32308b);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.541);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    color: white;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

nav {
    background-color: #32308b;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.315);
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor04);
    color: #01004d;
    border-radius: 5px;
}




main {
background-color: white;
    
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}

main h1 {
    color: var(--cor01);
    font-family: var(--font-android);
    font-size: 1.8em;

}

main h2 {
    color: var(--cor02);
    font-family: var(--font-android);
    font-weight: normal;
    background-image: linear-gradient(to right, #8786e6, transparent);
    padding-left: 10px;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 450px;
    display: block;
    margin: auto;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: #01004d;
    padding: 2px 6px;
    background-color: #abaaf8;
}

main a:hover {
    text-decoration: underline;
}

main strong {
    color: #1f1d9e;
    font-weight: bolder;
    padding: 2px 6px;
}

div.video {
   background-color: #01004d; 
   margin: 0px -20px 30px -20px;
   padding: 20px;

   padding-bottom: 58%;
   position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #a19ff8;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3 {
    background-color: #01004d;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

abbr {
    text-decoration: none;
}

aside > ul {
    list-style-type: "\1F5F8";
    list-style-position: inside;
    columns: 2;
}





footer {
    background-color: #01004d;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 7px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer > a:hover {
    text-decoration: underline;

}